*{
	margin: 0px;
	padding: 0px;
	
}

#header{
	width: 100%;
	height: 50px;
	border-bottom:rgb(220,220,200) solid 1px;

}
#logostyle
{
	position:relative;
	float:left;
	width:10%;
	height:50px;
	background-color:white;
}
#logotag{
	
	width:100%;
	height:50px;
	margin-left:10px;
}
#menustyle
{ 
margin: 0px auto;
   position:relative;
   float:left;
	width:40%;
	height:50px;
	background-color:white;
}
#menustyle:hover,#profilestyle:hover,#searchstyle:hover{
	border-bottom: red solid 1px;
}
#menustyle1
{ 
margin: 0px auto;
   position:relative;
   float:left;
	width:33.33%;
	height:50px;
	background-color:white;
}

#searchstyle
{
	   float:left;
	width:30%;
	height:100%;
	background-color:white;
}
#searchstyle input
{
	margin-top:12px;
}
#profilestyle
{
	position:relative;
	margin:0;
	   float:left;
	width:10%;
	height:50px;
	background-color:white;
}
#buttonstyle
{
	   float:right;
	width:10%;
	height:50px;
	background-color:yellow;
}
li>a{
	text-decoration: none;
	color:black;
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
}
#menu{
	display: block;
}
.search{
	
	position:relative;
	left:15px;
	width:90%;
	padding:3px;
	border-radius:3px;
	border:none;
    border:1px solid blue;
	font-size:14px;
	text-align:left;
	margin-top:7px;
	
}
#q{
	background-color:brown;
	width:100%;
	height:50px;
	font-size:15px;
	border-radius: 2px;
	border:none;
	color:white;
}
#p{
	text-decoration:none;
	display:block;
	font-size:15px;
	line-height:50px;
	text-align:center;
	width:100%;
	height:50px;
	margin:0;
	/*	border-right:1px solid #534444;
	border-left: 1px solid #534444;
	*/
}
#m
{
	text-decoration:none;
	display:block;
	font-size:15px;
	line-height:50px;
	text-align:center;
	width:100%;
	height:50px;
	margin:0;
/*	border-right:1px solid #534444;
	border-left: 1px solid #534444;
	*/
}
li>a:hover
{
	background-color:#f7f7f7;
	
}
#feeds
{
	margin-top:100;
	margin-left:100;
	width:15%;
	height:80%;
	position:fixed;
	background-color:white;
	
}
#feed{
	
	position:relative;
	left:10;
	font-size:15px;
	opacity:0.6;
}
#help
{
	opacity:0.5;
	top:0;
	text-decoration:none;
	position:relative;
	float:right;
	right:;
	color:black;
}

#btn2
{
	
	margin:10;
	width:95%;
	border-radius: 5px;
	height:20px;
	font-size:15px;
}
#feedlinks
{
	text-decoration:none;
	opacity:0.5;
	display:block;
	margin:10px;
	font-size:15px;
	color:black;
	
}
#feedlinks:hover{
	
	color:#f7f7f7;
	background-color:#E6E6E6;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	display: block;
	width:200px;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

#profilestyle:hover .dropdown-content {
    display: block;
}


